build/
.vscode/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
.*.sw*
node_modules
bower_components
txc-binding.so
stat-binding.so
txc-demo-devel.wgt
txc-demo.wgt
dist.dev/
dist.prod/
package/
